
:root{

--color-red: #AE1100;
--color-bg: #EBECF0;
--color-shadow: #BABECC;
--color-white: #FFF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

button, input {
    outline: 0;
/* box-shadow: rgba(166, 178, 184, 0.12) 0px 2px 4px 0px, rgba(206, 219, 225, 0.32) 0px 2px 16px 0px ; */
}
