.msg_body{
    width: 90%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 1rem;
    padding:.5rem 1rem;
}

.top_phone{
    display: flex;
}

.top_phone img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
