.privee_body{
    position: relative;
}

.footer_privee{
    position:absolute;
    bottom: 20px;
}
.footer_privee {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.icon_size1 {
    max-width: 100px;
    min-width: 75px;
    border-radius: 20px;
    display: flex;
    justify-content:center;
}

.icon_size1 img {
    width: 40px;
    height: 40px;
}
.lite_text{
    color: #a99780;
    font-size: x-small;
}
.cont_name{
    height: 13%;
    padding: 5px;
    position: relative;
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left:2px solid #997f5f;
    border-top:2px solid #997f5f;
    border-right:2px solid #997f5f;
}
.privee_sm_blog{
    position: absolute;
    border: 1px solid #997f5f;
    color: #997f5f;
    border-radius: 10px;
    top: -12px;
    background: black;
    text-align: center;
    padding-top: 3px;
    height: 30px;

}
.white_circle{
    min-width: 12px;
    background: white;
    height: 12px;
    border-radius: 50%;
}
.top_l_circle{
    position: absolute;
    left: -8px;
    bottom: -6px;
}

.top_r_circle{
    position: absolute;
    right: -8px;
    bottom: -6px;
}
.center_body{
    border-top: 2px dashed #a99780;
    border-bottom: 2px dashed #a99780;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr_cont{
    position: relative;
    border-radius: 0rem 0rem 3rem 3rem;
}
.btm_r_circle{
    position: absolute;
    right: -5px;
    top: -6.5px;
}

.btm_l_circle{
    position: absolute;
    left: -5px;
    top: -6.5px;
}
.privee_date_time{
    display:flex;
    width: 100%;
    justify-content:space-between;

}
.text_privee_date{
    color: #656360;
}
.prive_mid{
    height: 30%;
    justify-content: center;
}
.prive_bottom{
   
    height: 39%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding-top: 15px;

}
.Qr_Code{
    height: 140px;
}
.qr_cont button{
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    min-width: 120px;
    font-size: 14px;
    padding: 4px 6px;
    margin: 2px 0px;
}
.guestM{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Notapprove{
    min-height: 120px;
}