

.twitter_btnBg{
    background-color: var(--skyblue);
    color: white;
}
.insta_btnBg{
    background-color: var(--red);
    color: white;
}
.linded_btnBg{
    background-color: var(--blue);
    color: white;
}
.user_btnBg{
    background-color: black;
    color: white;
}
.or_content{
display: flex;
place-items: center;
width: 100%;

}
.hr_line{
    min-width:45%;
    background-color:var(--lightgray);
    height: 1px;
}
.divider_text{
    width:100%;
    background: white;
    text-align: center;
}