
:root{
    --skyblue: #42b4ff;
    --red:#d60e04;
    --blue:#1b4aa7;
    --lightgray:#d4d4d4;

    --onebgc : #878787;
    --twobgc:#565656;
    --threebgc:#040404;

    --baraddress:#999999
}

