.star_style{
    display: flex;
    justify-content: center;
}
.star_style span span span{
display:flex;
justify-content: center;
margin-bottom: 5px; 
}

.star_style span span span .star-svg{
    width:25px ;
    height: 25px;
}