.transactionList{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    height: 70vh;
    position: absolute;
    bottom: 0;
    overflow: auto;
    border-radius: 8px 8px 0px 0px;
}
.Qrscreens{
    position: relative;
    height: 96vh;
    overflow: auto;
    background: url("../../assets/home-glass-wine.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: black; */
}
.transactionHead{
    width: 100%;
    position: relative;
    text-align: center;
}
.transactionHead img{
    position: absolute;
    right: 10px;
    cursor: pointer;
    height: 27px;
    top: 42px;
}
/* .SearchLine{
    width: 100%;
} */
.SearchLine hr{
    height: 4px;
    background-color: #bbb8b887;
    width: 100%;
    margin: 10px 0px;
}
.barLine{
   
    display: flex;
    justify-content: center;
    width: 100%;
}
.barLine hr{
    height: 3px;
    background-color: #bbb8b887;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.transactionHead input{
    width: 100%;
    height: 39px;
    border-radius: 6px;
    padding-left: 14px;
}
.transactionHead h3{
    margin-bottom: 12px;
}
.qr_list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.qr_bar_img{
    display: flex;
    align-items: center;
}
.qr_bar_img img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 100%;
}
.bar_name{
    font-size: 14px;
    font-weight: 600;
}
.bar_date{
    font-size: 12px;
    color: grey;
}
.qr_price_p{
    color: #888cc4;
}
.bar_qr_list{
    margin-bottom: 36px;
}